// TYPOGRAPHY
$SANS_STACK: "WorkSans", sans-serif;
$MONO_STACK: "Space Mono", monospace;
$SERIF_STACK: serif;

$FONT_SIZE_SMALL: 14px;
$FONT_SIZE_BASE: 16px;
$FONT_SIZE_MEDIUM: 22px;
$FONT_SIZE_LARGE: 28px;
$SIDEBAR_WIDTH: 460px;

// COLOR
$COLOR_DARK: rgb(0, 0, 0);
$COLOR_DARK_TRANSPARENT: rgba(0, 0, 0, 0.8);
$COLOR_GREY_1: rgb(197, 197, 197);
$COLOR_GREY_15: rgb(187, 187, 187);
$COLOR_GREY_2: rgb(153, 153, 153);
$COLOR_GREY_3: rgb(85, 85, 85);
$COLOR_GREY_4: rgb(32, 32, 32);
$COLOR_GREY_5: rgb(10, 10, 10);

$COLOR_LIGHT: rgb(240, 240, 240);

$COLOR_LIGHTBLUE: #bacfc9;

$COLOR_COMMUNICATION: #1cc227;
$COLOR_CONSENSUS_BUILDING: #a2dafd;
$COLOR_SENSING: #fff538;
$COLOR_ARCHIVING: #f8c2e8;
$COLOR_EXHIBITION: #ed3656;

// SPACING
$SPACE_BASE: 12px;
$SPACE_XS: $SPACE_BASE / 2;
$SPACE_S: $SPACE_BASE;
$SPACE_M: $SPACE_BASE * 1.5;
$SPACE_L: $SPACE_BASE * 2;
$ITEM_HEIGHT: $SPACE_BASE * 5;
$BORDER_RADIUS: 20px;

// TRANSITIONS
$STANDARD_TRANSITION: cubic-bezier(0.23, 1, 0.32, 1);

// THEME MIXINS
@mixin text {
  .text {
    padding: $SPACE_M $SPACE_M 0 $SPACE_M;
    font-family: $SANS_STACK;
    font-size: $FONT_SIZE_BASE;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.02em;
    @include screen-size("small") {
      padding-bottom: $SPACE_M;
    }
  }
}
